[Unit]
Description=gitserver

[Service]
ExecStart=/home/ubuntu/CodeHub/bin/gitserver
EnvironmentFile=/home/ubuntu/CodeHub/.env

[Install]
WantedBy=multi-user.target
