[Unit]
Description=user

[Service]
ExecStart=/home/ubuntu/CodeHub/bin/user
EnvironmentFile=/home/ubuntu/CodeHub/.env

[Install]
WantedBy=multi-user.target
